body{
    margin: 0;
    padding: 0;
}


.main__section_ul:nth-child(n){
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

.main__section_ul{
    list-style-type: none;

}


.main__section_ul_li{
    text-align: center;
}

.main__section_ul_li_span {
    font-weight: bolder;
    font-size: xx-large;
}  

.main__section_ul_li_p{
    color: rgb(131, 127, 127);

}