body{
    margin: 0;
    padding: 0;
    
}

.main{

    font-size: 20px;
}
.main__ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 7.5rem;
    padding: 0;
    margin: 0;
    padding-top: 12rem;
    text-align: center;
}

.color-blue{
    color: rgb(24, 161, 253);
}

.main__ul-li-p{
    font-weight: bold;
}